
@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=yes">
    <title>链商城-商城</title>
    <meta name="keywords" content="链商城">
    <meta name="description" content="链商城">
    <meta name="author" content="链商城">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link href="/plugins/mescroll/mescroll.css" rel="stylesheet" />
</head>

<body>
    <div class="shop-inside">
        <div class="shop-inside-header" id="search">
            <input id="ClassifyGid" name="ClassifyGid" type="text" class="hidden">
            <input name="ShopGid" type="text" value="@Request.QueryString["ShopGid"]" class="hidden">
            <input id="sales" name="sales" type="text" value="1" class="hidden">
            <input id="price" name="price" type="text" value="1" class="hidden">
            <a class="shop-inside-header-back" href="/SMall/Index">
                <img src="/images/icon/icon-26.png" />
            </a>
            <div class="shop-header-input">
                <input type="text" name="Name" placeholder="搜索名称" onblur="list();" />
                <img src="/images/icon/icon-37.png" />
            </div>
        </div>
        <div class="shop-screening">
            <ul class="shop-screening-type">
                <li class="shop-screening-type-sales" onclick="setsales();"><span>销量</span></li>
                <li class="shop-screening-type-price" onclick="setprice();"><span>价格</span></li>
                <li class="shop-screening-type-screening"><span>分类</span></li>
            </ul>
            <!--筛选商品-->
            <div class="shop-screening-chooice">
                <div class="shop-screening-chooice-content">
                    <div class="shop-screening-chooice-box">
                        <ul class="chooice-service-type">
                            @foreach (var item in Model)
                            {
                                <li onclick="set('@item.Gid');">@item.Name</li>
                            }
                        </ul>
                    </div>
                    <div class="shop-screening-chooice-btn">
                        <span class="shop-screening-chooice-btn-reset">重置</span>
                        <span class="shop-screening-chooice-btn-complete">完成</span>
                    </div>
                </div>
            </div>
            <div class="shop-screening-content mescroll" id="scroll">
                <ul id="dataList">
                    <script id="tpl" type="text/html">
                        {{each list as item index}}
                        <li>
                            <a href="/SMall/Product?ShopGid={{item.ShopGid}}&Gid={{item.Gid}}">
                                <div class="shop-screening-item-img">
                                    <img src="/uploadfiles/product/{{item.Picture}}" />
                                </div>
                                <p class="shop-screening-item-title">{{item.Name}}</p>
                                <div class="shop-screening-item-msg">
                                    <span class="shop-screening-item-price">￥ {{item.Price}}</span>
                                    <span class="shop-screening-item-num">{{item.Sales}} 人购买</span>
                                </div>
                            </a>
                        </li>
                        {{/each}}
                    </script>
                </ul>
            </div>
        </div>
    </div>
    <script src="/js/jquery.js"></script>
    <script src="/js/template-web.js"></script>
    <script src="/plugins/mescroll/mescroll.js"></script>
    <script src="/js/mlist.js"></script>
    <script>
        function set(ClassifyGid) {
            document.getElementById("ClassifyGid").value = ClassifyGid;
        }
        function setsales() {
            document.getElementById("sales").value = document.getElementById("sales").value == "1" ? "2" : "1";
            list();
        }
        function setprice() {
            document.getElementById("price").value = document.getElementById("price").value == "1" ? "2" : "1";
            list();
        }
        function list() {
            document.getElementById("ClassifyGid").value = "";
            //重置列表数据
            scroll.resetUpScroll();
            //隐藏回到顶部按钮
            scroll.hideTopBtn();
        }
    </script>
    <script>
        $(".shop-screening-type li").each(function () {
            $(this).click(function () {
                $(this).addClass("active").siblings().removeClass("active activeDesc activeAsc");
                $(".shop-screening-select").removeClass("active");
            });
        });
        //价格排序
        $(".shop-screening-type-price").click(function () {
            if ($(".shop-screening-type-price").hasClass("activeAsc")) {
                $(".shop-screening-type-price").addClass("activeDesc");
                $(".shop-screening-type-price").removeClass("activeAsc");
            } else {
                $(".shop-screening-type-price").removeClass("activeDesc");
                $(".shop-screening-type-price").addClass("activeAsc");
            }
        });
        //打开选择服务类型
        $(".shop-screening-type-screening").click(function () {
            $(".shop-screening-chooice").addClass("active");
        });
        //关闭选择服务类型
        $(".shop-screening-chooice-btn-complete, .shop-screening-chooice").click(function () {
            $(".shop-screening-chooice").removeClass("active");
        });
        $(".shop-screening-chooice-content").click(function (e) {
            e.stopPropagation();
        });
        //重置选择服务类型
        $('.shop-screening-chooice-btn-reset').click(function () {
            $(".chooice-service-type li").removeClass("active");
            list();
        });
        //选择分类查询
        $('.shop-screening-chooice-btn-complete').click(function () {
            $(this).addClass("active").siblings().removeClass("active");
            //重置列表数据
            scroll.resetUpScroll();
            //隐藏回到顶部按钮
            scroll.hideTopBtn();;
        });
        $(".chooice-service-type li").each(function () {
            $(this).click(function () {
                $(this).addClass("active").siblings().removeClass("active");
            })
        });
    </script>
</body>
</html>