@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=yes">
    <title>链商城-我的链商城</title>
    <meta name="keywords" content="链商城">
    <meta name="description" content="链商城">
    <meta name="author" content="链商城">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<body>
    <div class="default-header-nav">
        <span>
            <a href="/Member/Index">
                <img src="/images/icon/icon-26.png" />
                </a>
        </span>
        我的链商城
    </div>
    <div class="my-center">
        <div class="my-center-title">
            库存=@ViewBag.Stock (未付款=@Request.QueryString["LockStock"])24小时释放
        </div>
        <div class="my-center-content">
            <ul>
                <li>
                    <a href="/Member/MProduct">
                        <img src="/images/icon/icon-32.png" />
                        <span>库存提醒</span>
                    </a>
                    <a href="#">
                        <img src="/images/icon/icon-33.png" />
                        <span>发货记录</span>
                    </a>
                </li>
                <li class="my-center-singer">
                    <a href="/Member/Bonus?Project=2">
                        <img src="/images/icon/icon-3.png" />
                        <span>链商城分红</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/images/icon/icon-34.png" />
                        <span>销售记录</span>
                    </a>
                    <a href="#">
                        <img src="/images/icon/icon-35.png" />
                        <span>转让商品</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>