@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=yes">
    <title>链商城订单</title>
    <meta name="keywords" content="链商城">
    <meta name="description" content="链商城">
    <meta name="author" content="链商城">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link href="/plugins/mescroll/mescroll.css" rel="stylesheet" />
</head>

<body>
    <div class="default-header-nav">
        <span>
            <a href="/Member/Index">
                <img src="/images/icon/icon-26.png" />
            </a>
        </span>
        订单中心
    </div>
    <div id="search" hidden>
        <input class="text" name="ExpressStatus" id="ExpressStatus" value="@Request.QueryString["tab"]" />
    </div>
    <div class="order">
        <div class="order-type">
            <ul>
                <li class="active">溯源码订单</li>
                <li><a href="/Member/ShopOrder?tab=0&ReturnType=0">商城订单</a></li>
                <li>
                    <a href="/Member/ShopOrder?tab=0&ReturnType=1">借用订单</a>
                </li>
            </ul>
        </div>
        <div class="order-status">
            <ul>
                <li class="active" onclick="getlist(0);">
                    <img src="/images/icon/icon-18.png" />
                    <span>全部</span>
                </li>
                <li onclick="getlist(1);">
                    <img src="/images/icon/icon-19.png" />
                    <span>待发货</span>
                </li>
                <li onclick="getlist(2);">
                    <img src="/images/icon/icon-20.png" />
                    <span>待收货</span>
                </li>
                <li onclick="getlist(3);">
                    <img src="/images/icon/icon-21.png" />
                    <span>已收货</span>
                </li>
                <li onclick="getlist(4);">
                    <img src="/images/icon/icon-21.png" />
                    <span>线下付款</span>
                </li>
            </ul>
        </div>
        <div class="mescroll" id="scroll">
            <div class="order-content list" id="dataList">
                <script id="tpl" type="text/html">
                    {{each list as item index}}
                    {{each item.list as od index}}
                    <a href="/Member/OrderDetail?OrderGid={{item.Gid}}&Number={{item.Number}}&type=0" class="order-item">
                        <div class="order-item-msg">
                            <div class="order-item-msg-img">
                                <img src="/uploadfiles/product/{{od.Picture}}" />
                            </div>
                            <div class="order-item-msg-text">
                                <p class="order-item-name">{{od.Name}}</p>
                                <p>订单号：{{item.OrderNo}}</p>
                                <p>{{od.AddTime}}</p>
                            </div>
                        </div>
                        <div class="order-item-num">￥<span>{{od.Price}}</span></div>
                    </a>
                    {{/each}}
                    <li class="confirm-goods"><a href="/Home/Bank?Type=1&OrderNo={{item.OrderNo}}&Money={{item.TotalPrice}}&Voucher={{item.Voucher}}">付款凭证</a></li>
                    {{/each}}
                </script>
            </div>
        </div>
    </div>
    <script src="/js/jquery.js"></script>
    <script src="/js/page.js"></script>
    <script src="/js/template-web.js"></script>
    <script src="/plugins/mescroll/mescroll.js"></script>
    <script src="/js/mlist.js"></script>
    <script>
        function getlist(ExpressStatus, ev) {
            $("#ExpressStatus").val(ExpressStatus);
            $(".order-status li").removeClass("active");
            ev = ev || window.event;
            var tmp = ev.target || ev.srcElement;
            tmp.className = "active";
            //重置列表数据
            scroll.resetUpScroll();
            //隐藏回到顶部按钮
            scroll.hideTopBtn();
        }
    </script>
</body>
</html>