@{
    ViewBag.Title = "已收货款";
    Layout = "~/Views/Shared/_LLayout.cshtml";
}
<div id="search" hidden><input class="text" name="Status" id="Status" value="0" /></div>
<div class="order-tabs">
    <a onclick="getlist(0);" class="active">全部</a>
    <a onclick="getlist(1);">冻结中</a>
    <a onclick="getlist(2);">已收款</a>
</div>
<div class="order-item mescroll" id="scroll">
    <ul id="dataList">
        <script id="tpl" type="text/html">
            {{each list as item index}}
            <div class="order-item">
                <p class="o-number">
                    订单编号：
                    <span>{{item.OrderNo}}</span>
                    <a class="btn btn-line" href="/Member/OrderDetail?OrderGid={{item.Gid}}&Number={{item.Number}}&type=0">查看订单</a>
                </p>
                {{each item.list as od index}}
                <a class="shop-info-goods" href="/Home/Detail?gid={{od.ProductGid}}">
                    <img src="/uploadfiles/product/{{od.Picture}}" />
                    <h1>{{od.Name}}</h1>
                    <div class="money">+￥{{od.Price * od.Number}}</div>
                    <div class="price">{{od.Price}} X {{od.Number}}</div>
                </a>
                {{/each}}
                <div class="setting">
                    <span>共<em>{{item.Number}}</em>件商品</span>
                    <a class="btn btn-line-green">货款 {{item.TotalPrice}}</a>
                </div>
            </div>
            {{/each}}
        </script>
    </ul>
</div>
<script>
    function getlist(Status, ev) {
        $("#Status").val(Status);
        $(".order-tabs a").removeClass("active");
        ev = ev || window.event;
        var tmp = ev.target || ev.srcElement;
        tmp.className = "active";
        //重置列表数据
        scroll.resetUpScroll();
        //隐藏回到顶部按钮
        scroll.hideTopBtn();
    }
</script>
