@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=yes">
    <title>彩链-转赠彩链溯源码</title>
    <meta name="keywords" content="彩链">
    <meta name="description" content="彩链">
    <meta name="author" content="彩链">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
    <div class="default-header-nav">
        <span>
            <a href="/Member/Index">
                <img src="/images/icon/icon-26.png" />
                </a>
        </span> 转赠彩链溯源码
    </div>
    <div class="withdrawal examples-of">
        <div class="withdrawal-content">
            <div class="withdrawal-title">
                <span> 转赠ID:</span>
                <input type="text" id="MID" placeholder="你下线的ID" onkeyup="value=value.replace(/[^\d]/g,'');" />
            </div>
            <div class="withdrawal-operation">
                <p class="can-make-payment">彩链溯源码库存 :<span>@ViewBag.Stock 个</span></p>
                <div class="withdrawal-operation-input">
                    <span class="withdrawal-operation-tag">转赠数量</span>
                    <input type="text" id="Number" placeholder="0" onkeyup="value=value.replace(/[^\d]/g,'');" />
                </div>
            </div>
            <div class="withdrawal-btn">
                <span onclick="Send();">转赠</span>
            </div>
        </div>
    </div>
    <script src="/js/jquery.js"></script>
    <script>
        function Send() {
            if ($("#Number").val() <=@ViewBag.Stock) {
                if (window.confirm('你确定要转让嘛!')) {
                    $.ajax({
                        url: "/Member/Send",
                        data: "MID=" + $("#MID").val() + "&Number=" + $("#Number").val(),
                        type: "post",
                        cache: false,
                        timeout: 8000,
                        dataType: "json",
                        ContentType: "application/json; charset=utf-8",
                        error: function () { alert('请求超时!'); },
                        beforeSend: function () { },
                        success: function (data) {
                            if (data.result === 200) {
                                self.location = "/Member/Index";
                            }
                            else {
                                alert(data.data);
                            }
                        },
                    });
                    return true;
                } else {
                    return false;
                }
            }
            else {
                alert("不能转让大于自己的数量");
            }
        }
    </script>
</body>
</html>