@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=yes">
    <title>链商城-兑换</title>
    <meta name="keywords" content="链商城">
    <meta name="description" content="链商城">
    <meta name="author" content="链商城">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
    <div class="default-header-nav">
        <span>
            <a href="/Member/Index">
                <img src="/images/icon/icon-26.png" />
                </a>
        </span> 兑换
        <span class="default-header-nav-more">
            <a href="/Member/IntegralAPP">
                <img src="/images/icon/icon-36.png" />
            </a>
        </span>
    </div>
    @using (Html.BeginForm("ToAPP", "Member", FormMethod.Get))
    {
        <div class="withdrawal exchange">
            <div class="withdrawal-content">
                <div class="withdrawal-operation">
                    <div class="withdrawal-operation-input">
                        <span class="withdrawal-operation-tag">兑换积分</span>
                        <input type="text" placeholder="最少100起提" id="Integral" name="Integral" onkeyup="value=value.replace(/[^\d]/g,'');" />
                    </div>
                    <div class="withdrawal-operation-input" style="display:none;">
                        <span class="withdrawal-operation-tag">兑换币种</span>
                        <select class="form-control" name="TB" placeholder="选择兑换币种">
                            <option value="1" selected>BCCB</option>
                            <option value="2">FBCC</option>
                        </select>
                    </div>
                </div>
                <div class="withdrawal-text" style="display:none;">
                    <span>你当前可提积分为=@ViewBag.Integral,当前BCCB均价=@ViewBag.BCCB</span>
                </div>
                <div class="withdrawal-btn">
                    <button type="button" id="btn" class="btn-block btn-green" onclick="return check();">兑换</button>
                </div>
            </div>
        </div>
    }
        <script src="~/js/jquery.js"></script>
    <script>
    function check() {
        var field = $("input[name='Integral']");
        if (field.val()>@ViewBag.Integral) {
            tip("可提积分不足");
            return false;
        }
        if (field.val()<100) {
            tip("最少100起提");
            return false;
        }
        document.getElementById("btn").innerText = "正在提交...";
        document.getElementById("btn").disabled = true;
        document.getElementById("btn").style.display = "none";
        document.forms[0].submit();
    }
        function tooltip(field) {
            field.focus();
            alert(field.attr('placeholder'));
        }
        function tip(msg) {
            alert(msg);
        }
    </script>
</body>
</html>