@{
    ViewBag.Class = "Shop";
    ViewBag.Title = "商城";
    Layout = "~/Views/Shared/_SLayout.cshtml";
}
<div class="mescroll" id="scroll">
    <div class="list" id="dataList">
        <script id="tpl" type="text/html">
            {{each list as item index}}
            <a href="/Home/ShopDetail?Gid={{item.Gid}}" class="item multi-lines white">
                <div class="avatar avatar-xl"><img src="/uploadfiles/shop/{{item.Picture}}" onerror="this.src = '/images/nopic.png'" /></div>
                <div class="content">
                    <div class="title">
                        {{item.Name}}
                    </div>
                    <div class="subtitle">{{item.City}}{{item.Area}}{{item.Address}}</div>
                    <div class="row tiles">
                        <div class="cell"><div class="label info outline">{{item.Profile}}</div></div>
                    </div>
                </div>
            </a>
            <div class="divider"></div>
            {{/each}}
        </script>
    </div>
</div>
<div id="search" class="affix dock-bottom modal hidden">
    <div class="heading">
        <div class="title"><strong>搜索</strong></div>
        <nav class="nav"><a data-dismiss="display"><i class="icon-remove muted"></i></a></nav>
    </div>
    <div class="divider"></div>
    <div class="section box">
        <div class="control has-success">
            <label for="address">商家名称</label>
            <input name="Name" type="text" class="input" placeholder="请输入你要搜索的商家名称">
        </div>
        <div class="control">
            <label>商家类别</label>
            @foreach (var item in Model)
            {
                <input type="checkbox" name="fl" value="@item.Value" checked="checked" onclick="setfl();">@item.Key
            }
            <input id="Project" name="Project" type="text" class="hidden">
        </div>
        <div class="control">
            <button type="button" class="btn block primary" onclick="scrollSearch();">给我搜</button>
        </div>
    </div>
</div>
<nav class="nav affix dock-top justified">
    <a onclick="history.go(-1);"><i class="icon-5x icon-arrow-left"></i></a>
    <a>商城</a>
    <a href="/Home/Url"><i class="icon-home"></i></a>
</nav>
<nav class="nav affix dock-bottom justified">
    <a data-display data-backdrop="true" data-target="#search"><i class="icon icon-search"></i> 搜索</a>
</nav>
<script>
    function setfl() {
        document.getElementById("Project").value = "";
        var groupCheckbox = $("input[name='fl']");
        for (i = 0; i < groupCheckbox.length; i++) {
            if (!groupCheckbox[i].checked) {
                var val = groupCheckbox[i].value;
                document.getElementById("Project").value += val + ",";
            }
        }
    }
</script>