
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" Content="width=device-width, initial-scale=1" />
    <title>分类管理</title>
    <link rel="stylesheet" href="~/plugins/zui/css/zui.min.css">
</head>
<body>
    <div class="row" id="search">
        <div class="col-xs-11">
            <div class="input-group">
                <span class="input-group-addon"><i class="icon-search"></i></span>
                <span class="input-group-addon">评论内容</span>
                <input type="text" name="Content" class="form-control">
                <span class="input-group-addon">回复内容</span>
                <input type="text" name="Reply" class="form-control">
                <span class="input-group-addon">会员昵称</span>
                <input type="text" name="Member" class="form-control">
                <span class="input-group-addon">商品</span>
                <input type="text" name="Product" class="form-control">
                <span class="input-group-addon">时间</span>
                <input type="text" class="form-control" placeholder="开始时间" name="STime" onclick="WdatePicker({startDate:'%y-%M-01 00:00:00',dateFmt:'yyyy-MM-dd HH:mm:ss',alwaysUseStartDate:true})" />
                <span class="input-group-addon fix-padding">-</span>
                <input type="text" class="form-control" placeholder="结束时间" name="ETime" onclick="WdatePicker({startDate:'%y-%M-01 00:00:00',dateFmt:'yyyy-MM-dd HH:mm:ss',alwaysUseStartDate:true})" />
                <span class="input-group-btn">
                    <input type="text" name="MemberGid" value="@Request.QueryString["membergid"]" class="form-control hidden">
                    <input type="text" name="ProductGid" value="@Request.QueryString["productgid"]" class="form-control hidden">
                    <button type="button" class="btn btn-info" onclick="GetList(1);">给偶搜</button>
                </span>
            </div>
        </div>
    </div>
    <br />
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>商品</th>
                <th>评论人</th>
                <th>评论内容</th>
                <th>回复内容</th>
                <th>显示设置</th>
                <th>添加时间</th>
                <th>管理操作</th>
            </tr>
        </thead>
        <tbody id="tbody">
            <script id="tpl" type="text/html">
                {{each list as item index}}
                <tr id="{{item.Gid}}" style="background-color:{{index%2 ==0 ?"#FAF4FF":""}};">
                    <td>{{index+1}}</td>
                    <td>{{item.Name}}</td>
                    <td>{{item.Remarks}}</td>
                    <td>{{item.Sort}}</td>
                    <td>{{item.Show=="1"?"显示":"不显示"}}</td>
                    <td>{{item.AddTime}}</td>
                    <td>
                        <div class="btn-group">
                            <button class="btn btn-mini" onclick="Show('{{item.Gid}}');">编辑</button>
                            <button class="btn btn-mini btn-danger" onclick="Delete('{{item.Gid}}');">删除</button>
                        </div>
                    </td>
                </tr>
                {{/each}}
            </script>
        </tbody>
    </table>
    <ul class="pager" id="pager"></ul>
    <ul class="pager" id="pages" style="overflow:hidden;"></ul>
    <script src="~/plugins/zui/lib/jquery/jquery.js"></script>
    <script src="~/plugins/zui/js/zui.min.js"></script>
    <script src="~/js/template-web.js"></script>
    <script src="~/plugins/My97DatePicker/WdatePicker.js"></script>
    <script src="~/js/list.js"></script>
</body>
</html>