@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" Content="width=device-width" />
    <title>后台管理</title>
</head>
<frameset cols="*" rows="50, *" id="frame_main" border="0">
    <frame src="~/LJSheng/Top" noresize="noresize" name="header">
        <frameset cols="180, *">
            <frame src="~/LJSheng/Menu" name="left" noresize="noresize" />
            <frame src="~/LJSheng/DBBak" name="list" noresize="noresize" style="padding-left:10px;padding-top:10px;" />
        </frameset>
</frameset>
<noframes>
    <body>
    </body>
</noframes>
</html>
