
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" Content="width=device-width, initial-scale=1" />
    <title>积分管理</title>
    <link rel="stylesheet" href="~/plugins/zui/css/zui.min.css">
</head>
<body>
    <div class="row" id="search">
        <div class="col-sm-11">
            <div class="input-group">
                <span class="input-group-addon"><i class="icon-search"></i></span>
                <span class="input-group-addon">手机号</span>
                <input type="text" name="Account" class="form-control" onkeyup="value=value.replace(/[^\d]/g,'');" value="@Request.QueryString["Account"]">
                <span class="input-group-addon">订单号</span>
                <input type="text" name="OrderNo" class="form-control" value="@Request.QueryString["OrderNo"]">
                <span class="input-group-addon fix-padding">-</span>
                <select class="form-control" name="Type">
                    <option value="0" selected>全部类型</option>
                    @foreach (string name in Enum.GetNames(typeof(LJSheng.Common.Help.MType)))
                    {
                        LJSheng.Common.Help.MType type = (LJSheng.Common.Help.MType)Enum.Parse(typeof(LJSheng.Common.Help.MType), name, true);
                        <option value="@((int)type)">@name</option>
                    }
                </select>
                <span class="input-group-addon">时间</span>
                <input type="text" class="form-control" placeholder="开始时间" name="STime" onclick="WdatePicker({startDate:'%y-%M-01 00:00:00',dateFmt:'yyyy-MM-dd HH:mm:ss',alwaysUseStartDate:true})" />
                <span class="input-group-addon fix-padding">-</span>
                <input type="text" class="form-control" placeholder="结束时间" name="ETime" onclick="WdatePicker({startDate:'%y-%M-01 00:00:00',dateFmt:'yyyy-MM-dd HH:mm:ss',alwaysUseStartDate:true})" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-info" onclick="GetList(1);">给偶搜</button>
                </span>
            </div>
        </div>
    </div>
    <br />
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>标识</th>
                <th>消费类型</th>
                <th>会员帐号</th>
                <th>订单号</th>
                <th>积分</th>
                <th>购物积分</th>
                <th>原积分</th>
                <th>原购物积分</th>
                <th>备注</th>
                <th>添加时间</th>
            </tr>
        </thead>
        <tbody id="tbody">
            <script id="tpl" type="text/html">
                {{each list as item index}}
                <tr id="{{item.Gid}}" style="background-color:{{index%2 ==0 ?"#FAF4FF":""}};">
                    <td>{{++index}}</td>
                    <td>
                        {{if item.Type=="1"}}
                        消费
                        {{else if item.Type=="2"}}
                        提现
                        {{else if item.Type=="3"}}
                        合伙人进货
                        {{else if item.Type=="4"}}
                        购物分成
                        {{else if item.Type=="5"}}
                        分享奖
                        {{else if item.Type=="6"}}
                        级差
                        {{else if item.Type=="7"}}
                        平级
                        {{else if item.Type=="8"}}
                        合伙人分红
                        {{else if item.Type=="9"}}
                        股东分红
                        {{else if item.Type=="20"}}
                        分享奖
                        {{else if item.Type=="22"}}
                        链商城团队分红
                        {{else if item.Type=="23"}}
                        链商城项目分红
                        {{else if item.Type=="24"}}
                        发货人积分扣除
                        {{else if item.Type=="25"}}
                        发货人积分解除
                        {{else}}
                        未知
                        {{/if}}
                    </td>
                    <td>{{item.Account}}({{item.RealName}})</td>
                    <td onclick="Show('{{item.OrderNo}}','OrderList?OrderNo={{item.OrderNo}}');" title="单击查看订单详情"><button class="btn btn-block btn-mini" type="button">{{item.OrderNo}}</button></td>
                    <td>{{item.Money}}</td>
                    <td>{{item.Integral}}</td>
                    <td>{{item.OldMoney}}</td>
                    <td>{{item.OldIntegral}}</td>
                    <td>{{item.Remarks}}</td>
                    <td>{{item.AddTime}}</td>
                </tr>
                {{/each}}
            </script>
        </tbody>
    </table>
    <ul class="pager" id="pager"></ul>
    <ul class="pager" id="pages" style="overflow:hidden;"></ul>
    <script src="~/plugins/zui/lib/jquery/jquery.js"></script>
    <script src="~/plugins/zui/js/zui.min.js"></script>
    <script src="~/js/template-web.js"></script>
    <script src="~/plugins/My97DatePicker/WdatePicker.js"></script>
    <script src="~/js/list.js"></script>
</body>
</html>