
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" Content="width=device-width, initial-scale=1" />
    <title>商品管理</title>
    <link rel="stylesheet" href="~/plugins/zui/css/zui.min.css">
</head>
<body>
    <div class="row" id="search">
        <div class="col-xs-10">
            <div class="input-group">
                <span class="input-group-addon"><i class="icon-search"></i></span>
                <span class="input-group-addon">分类</span>
                <select class="form-control" name="ClassifyGid">
                    <option value="0">=全 部=</option>
                    @foreach (var item in Model)
                    {
                        <option value="@item.Gid">@item.Name</option>
                    }
                </select>
                <span class="input-group-addon">名称</span>
                <input type="text" name="Name" class="form-control">
                <span class="input-group-addon">时间</span>
                <input type="text" class="form-control" placeholder="开始时间" name="STime" onclick="WdatePicker({startDate:'%y-%M-01 00:00:00',dateFmt:'yyyy-MM-dd HH:mm:ss',alwaysUseStartDate:true})" />
                <span class="input-group-addon fix-padding">-</span>
                <input type="text" class="form-control" placeholder="结束时间" name="ETime" onclick="WdatePicker({startDate:'%y-%M-01 00:00:00',dateFmt:'yyyy-MM-dd HH:mm:ss',alwaysUseStartDate:true})" />
                <span class="input-group-btn">
                    <input type="text" name="ShopGid" value="@Request.QueryString["ShopGid"]" class="form-control hidden">
                    <button type="button" class="btn btn-info" onclick="GetList(1);">给偶搜</button>
                </span>
            </div>
        </div>
    </div>
    <br />
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>分类</th>
                <th>编号</th>
                <th>名称</th>
                <th>售价</th>
                <th>原价</th>
                <th>库存</th>
                <th>排序</th>
                <th>显示</th>
                <th>借用</th>
                <th>图片</th>
                <th>添加时间</th>
                <th>管理操作</th>
            </tr>
        </thead>
        <tbody id="tbody">
            <script id="tpl" type="text/html">
                {{each list as item index}}
                <tr id="{{item.Gid}}" style="background-color:{{index%2 ==0 ?"#FAF4FF":""}};">
                    <td>{{index+1}}</td>
                    <td>{{item.ClassifyName}}</td>
                    <td>
                        {{item.Prefix}}
                    </td>
                    <td>
                        {{item.Name}}<br />
                        品牌:{{item.Brand}}
                    </td>
                    <td>{{item.Price}}</td>
                    <td>{{item.OriginalPrice}}</td>
                    <td>{{item.Stock}}</td>
                    <td>{{item.Sort}}</td>
                    <td>
                        {{if item.Show=="1"}}
                        显示
                        {{else if item.Show=="2"}}
                        不显示
                        {{else}}
                        推荐
                        {{/if}}
                    </td>
                    <td>
                        {{if item.Show=="0"}}
                        不可
                        {{else if item.Show=="1"}}
                        可借
                        {{else}}
                        已借
                        {{/if}}
                    </td>
                    <td>
                        <img data-caption="{{item.Name}}" data-toggle="lightbox" src="/uploadfiles/shop/@Request.QueryString["ShopGid"]/{{item.Gid}}/logo.png" class="img-thumbnail" onerror="this.src='/images/nopic.png'" width="50">
                    </td>
                    <td>{{item.AddTime}}</td>
                    <td>
                        <div class="btn-group">
                            <a class="btn" href="ShopProductAU?gid={{item.Gid}}&ShopGid={{item.ShopGid}}" target="_blank">编辑</a>
                            <button class="btn" onclick="Show('{{item.Name}}','Files?name={{item.Name}}&gid={{item.ShopGid}}&pgid={{item.Gid}}');">商品轮播图</button>
                            <button class="btn btn-danger hidden" onclick="Delete('{{item.Gid}}');">删除</button>
                        </div>
                    </td>
                </tr>
                {{/each}}
            </script>
        </tbody>
    </table>
    <ul class="pager" id="pager"></ul>
    <ul class="pager" id="pages" style="overflow:hidden;"></ul>
    <script src="~/plugins/zui/lib/jquery/jquery.js"></script>
    <script src="~/plugins/zui/js/zui.min.js"></script>
    <script src="~/js/template-web.js"></script>
    <script src="~/plugins/My97DatePicker/WdatePicker.js"></script>
    <script src="~/js/list.js"></script>
</body>
</html>