
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" Content="width=device-width, initial-scale=1" />
    <title>钱包兑换记录</title>
    <link rel="stylesheet" href="~/plugins/zui/css/zui.min.css">
</head>
<body>
    <div class="row" id="search">
        <div class="col-sm-11">
            <div class="input-group">
                <span class="input-group-addon"><i class="icon-search"></i></span>
                <select class="form-control" name="Type">
                    <option value="0" selected>=全部=</option>
                    <option value="1">链商城分</option>
                    <option value="2">基数分</option>
                    <option value="3">商城分</option>
                </select>
                <span class="input-group-addon fix-padding">-</span>
                <select class="form-control" name="State">
                    <option value="0" selected>=全部=</option>
                    <option value="1">成功</option>
                    <option value="2">失败</option>
                </select>
                <span class="input-group-addon fix-padding">-</span>
                <span class="input-group-addon">手机号</span>
                <input type="text" name="Account" class="form-control" onkeyup="value=value.replace(/[^\d]/g,'');" value="@Request.QueryString["Account"]">
                <span class="input-group-addon">时间</span>
                <input type="text" class="form-control" placeholder="开始时间" name="STime" onclick="WdatePicker({startDate:'%y-%M-01 00:00:00',dateFmt:'yyyy-MM-dd HH:mm:ss',alwaysUseStartDate:true})" />
                <span class="input-group-addon fix-padding">-</span>
                <input type="text" class="form-control" placeholder="结束时间" name="ETime" onclick="WdatePicker({startDate:'%y-%M-01 00:00:00',dateFmt:'yyyy-MM-dd HH:mm:ss',alwaysUseStartDate:true})" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-info" onclick="GetList(1);">给偶搜</button>
                </span>
            </div>
        </div>
    </div>
    <br />
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>标识</th>
                <th>会员帐号</th>
                <th>扣除积分</th>
                <th>兑换前积分</th>
                <th>兑换Token</th>
                <th>类型</th>
                <th>备注</th>
                <th>操作</th>
                <th>添加时间</th>
            </tr>
        </thead>
        <tbody id="tbody">
            <script id="tpl" type="text/html">
                {{each list as item index}}
                <tr style="background-color:{{index%2 ==0 ?"#FAF4FF":""}};">
                    <td>{{++index}}</td>
                    <td>{{item.Account}}({{item.RealName}})</td>
                    <td>{{item.Integral}}</td>
                    <td>{{item.OldIntegral}}</td>
                    <td>{{item.Token}}</td>
                    <td>
                        {{if item.Type=="1"}}
                        链商城分
                        {{else if item.Type=="2"}}
                        基数分
                        {{else}}
                        商城分
                        {{/if}}
                    </td>
                    <td>{{item.Remarks}}</td>
                    <td id="{{item.Gid}}">
                        {{if item.State==2}}
                        <button class="btn btn-danger" onclick="APP('{{item.Gid}}');">重新兑换</button>
                        {{else}}
                        兑换成功
                        {{/if}}
                    </td>
                    <td>{{item.AddTime}}</td>
                </tr>
                {{/each}}
            </script>
        </tbody>
    </table>
    <ul class="pager" id="pager"></ul>
    <ul class="pager" id="pages" style="overflow:hidden;"></ul>
    <script src="~/plugins/zui/lib/jquery/jquery.js"></script>
    <script src="~/plugins/zui/js/zui.min.js"></script>
    <script src="~/js/template-web.js"></script>
    <script src="~/plugins/My97DatePicker/WdatePicker.js"></script>
    <script src="~/js/list.js"></script>
    <script>
        function APP(gid) {
            if (window.confirm('确认重新兑换到APP吗?')) {
                $.ajax({
                    url: "/LJSheng/APPToken",
                    data: "Gid=" + gid + "&cache=" + Math.random(),
                    type: "post",
                    cache: false,
                    timeout: 8000,
                    dataType: "json",
                    ContentType: "application/json; charset=utf-8",
                    error: function () { alert("请求超时!"); },
                    beforeSend: function () { },
                    success: function (data) {
                        $("#" + gid).html(data.data);
                    },
                });
                return true;
            } else {
                return false;
            }
        }
    </script>
</body>
</html>