
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GoWX</title>
</head>
<body>
    <div> 
    </div>
    <script>
        WeixinJSBridge.invoke('getBrandWCPayRequest', data, function (res) {
            switch (res.err_msg) {
                case "get_brand_wcpay_request:ok":
                    self.location = "/home/msg?url=/user/wddd&msg=支付成功";
                    break;
                case "get_brand_wcpay_request:cancel":
                    alert("你取消了支付,微信返回信息:" + res.err_msg);
                    break;
                default:
                    alert("支付失败,微信返回信息:" + res.err_msg);
                    break;
            }
        });
    </script>
</body>
</html>
