@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=yes">
    <title>链商城-商家中心</title>
    <meta name="keywords" content="链商城">
    <meta name="description" content="链商城">
    <meta name="author" content="链商城">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<body>
    <div class="default-header-nav">
        <span>
            <a href="/Member/Index">
                <img src="/images/icon/icon-26.png" />
            </a>
        </span> 商家中心
    </div>
    <div class="center">
        <!--我的头部-->
        <div class="center-header integral-center">
            <div class="center-header-content">
                <div class="center-header-msg">
                    <div class="center-header-avatar">
                        <img src="/uploadfiles/shop/@ViewBag.Gid/logo.png" onerror="this.src='/images/nopic.png'" />
                    </div>
                    <div class="center-header-text">
                        <p>@ViewBag.Name</p>
                        <p>@(ViewBag.State == 1 ? "(审核中)" : "")</p>
                    </div>
                </div>
                <a href="/Shop/Info" class="center-header-arrow">
                    <img src="/images/icon/icon-25.png" />
                </a>
            </div>
        </div>
        <div class="integral-box">
            <div class="default-block shop-management">
                <div class="default-block-title">
                    商品管理
                </div>
                <div class="shop-management-content">
                    <div class="shop-management-item">
                        <a href="/Shop/ShopClassify">
                            <img src="/images/icon/icon-47.png" />
                            <span>产品分类</span>
                        </a>
                    </div>
                    <div class="shop-management-item">
                        <a href="/Shop/ProductAU">
                            <img src="/images/icon/icon-49.png" />
                            <span>产品发布</span>
                        </a>
                    </div>
                    <div class="shop-management-item">
                        <a href="/Shop/Product">
                            <img src="/images/icon/icon-48.png" />
                            <span>产品明细</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="default-block">
                <div class="default-block-title">
                    商城订单
                </div>
                <div class="order-status order-status-merchants">
                    <ul>
                        <li>
                            <a href="/Shop/ShopOrder?tab=0">
                                <img src="/images/icon/icon-18.png" />
                                <span>全部</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Shop/ShopOrder?tab=1">
                                <img src="/images/icon/icon-19.png" />
                                <span>待发货</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Shop/ShopOrder?tab=2">
                                <img src="/images/icon/icon-20.png" />
                                <span>待收货</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Shop/ShopOrder?tab=3">
                                <img src="/images/icon/icon-21.png" />
                                <span>已收货</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="default-block">
                <div class="default-block-title">
                    能量塔订单
                </div>
                <div class="order-status order-status-merchants">
                    <ul>
                        <li>
                            <a href="/Shop/Order?tab=0">
                                <img src="/images/icon/icon-18.png" />
                                <span>全部</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Shop/Order?tab=1">
                                <img src="/images/icon/icon-19.png" />
                                <span>待发货</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Shop/Order?tab=2">
                                <img src="/images/icon/icon-20.png" />
                                <span>待收货</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Shop/Order?tab=3">
                                <img src="/images/icon/icon-21.png" />
                                <span>已收货</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="default-block">
                <div class="default-block-title">
                    营业额
                </div>
                <div class="turnover">
                    <ul>
                        <li>
                            <span>￥@ViewBag.MPayPrice</span>
                            <span>本月营业额</span>
                        </li>
                        <li>
                            <span>￥@ViewBag.MDFH</span>
                            <span>本月待发货营业额</span>
                        </li>
                        <li>
                            <span>￥@ViewBag.PayPrice</span>
                            <span>今日营业额</span>
                        </li>
                        <li>
                            <span>￥@ViewBag.DFHProfit</span>
                            <span>今日待发货营业额</span>
                        </li>
                        <li>
                            <span>￥@ViewBag.MDFHProfit</span>
                            <span>本月待发货分润总额</span>
                        </li>
                        <li>
                            <span>￥@ViewBag.DFH</span>
                            <span>昨日待发货总额</span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="freeze-integral-detail">
                <div class="default-block integral">
                    <div class="default-block-title">
                        商家服务
                    </div>
                    <div class="freeze-integral-content">
                        <a href="/Shop/Info" class="freeze-integral-item">
                            <span>
                                <img src="/images/icon/icon-41.png" />
                                商家信息
                            </span>
                            <img class="" src="/images/icon/icon-24.png" />
                        </a>
                        <a href="/Shop/UPCertificates?type=1" class="freeze-integral-item">
                            <span>
                                <img src="/images/icon/icon-41.png" />
                                上传身份证照片
                            </span>
                            <img class="" src="/images/icon/icon-24.png" />
                        </a>
                        <a href="/Shop/UPCertificates?type=2" class="freeze-integral-item">
                            <span>
                                <img src="/images/icon/icon-41.png" />
                                上传营业执照
                            </span>
                            <img class="" src="/images/icon/icon-24.png" />
                        </a>
                        <a href="/Shop/UPCertificates?type=3" class="freeze-integral-item">
                            <span>
                                <img src="/images/icon/icon-41.png" />
                                上传许可证
                            </span>
                            <img class="" src="/images/icon/icon-24.png" />
                        </a>
                        <a href="/Shop/Money" class="freeze-integral-item">
                            <span>
                                <img src="/images/icon/icon-20.png" />
                                可提货款
                                <span>(可提：@ViewBag.ShopMoney )</span>
                            </span>
                            <img class="" src="/images/icon/icon-24.png" />
                        </a>
                        <a href="/Member/DFH" class="freeze-integral-item">
                            <span>
                                <img src="/images/icon/icon-71.png">
                                待发货分润明细
                            </span>
                            <img class="" src="/images/icon/icon-24.png">
                        </a>
                        <a href="/Shop/CLMoney" class="freeze-integral-item">
                            <span>
                                <img src="/images/icon/icon-44.png" />
                                溯源码激活
                                <span>(@ViewBag.Stock)</span>
                            </span>
                            <img class="" src="/images/icon/icon-24.png" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-menu">
        <div class="bottom-menu-content">
            <ul>
                <li>
                    <a href="/Home/Index">
                        <img src="/images/icon/icon-42.png" class="bottom-menu-default-icon" />
                        <img src="/images/icon/icon-41.png" class="bottom-menu-active-icon" />
                        <span>首页</span>
                    </a>
                </li>
                <li>
                    <a href="/Home/APP">
                        <img src="/images/icon/icon-38.png" class="bottom-menu-default-icon" />
                        <img src="/images/icon/icon-39.png" class="bottom-menu-active-icon" />
                        <span>APP</span>
                    </a>
                </li>
                <li>
                    <a href="/SMall/Index">
                        <img src="/images/icon/icon-43.png" class="bottom-menu-default-icon" />
                        <img src="/images/icon/icon-44.png" class="bottom-menu-active-icon" />
                        <span>商城</span>
                    </a>
                </li>
                <li>
                    <a href="/Member/Index" class="active">
                        <img src="/images/icon/icon-45.png" class="bottom-menu-default-icon" />
                        <img src="/images/icon/icon-46.png" class="bottom-menu-active-icon" />
                        <span>我的</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>