@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=yes">
    <title>彩链-法人身份证上传</title>
    <meta name="keywords" content="彩链">
    <meta name="description" content="彩链">
    <meta name="author" content="彩链">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<body>
    <div class="default-header-nav header-nav-blue">
        <span>
            <a href="/Shop/UPCertificates">
                <img src="/images/icon/icon-26.png" />
            </a>
        </span> 法人身份证上传
    </div>

    <div class="permit-upload">
        <div class="permit-upload-tip">
            提示：按要求上传证件照片，才能通过审核哦！
        </div>
        <div class="permit-upload-content">
            <img src="/images/faren.png" />
        </div>
        <div class="avoid-problem">
            <p>请避免以下问题</p>
            <ul>
                <li>
                    <img src="/images/question1.png" />
                    <span>照片不完整</span>
                </li>
                <li>
                    <img src="/images/question2.png" />
                    <span>没有人手持</span>
                </li>
                <li>
                    <img src="/images/question3.png" />
                    <span>照片太小</span>
                </li>
                <li>
                    <img src="/images/question4.png" />
                    <span>照片模糊</span>
                </li>
            </ul>
        </div>
        <div class="permit-upload-btn">
            <img src="/images/icon/camera.png" />
            <a href="/Shop/UPCertificates?type=1">立即上传</a>
        </div>
    </div>
</body>
</html>