
@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=yes">
    <title>链商城-许可证上传</title>
    <meta name="keywords" content="链商城">
    <meta name="description" content="链商城">
    <meta name="author" content="链商城">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<body>
    <div class="default-header-nav header-nav-blue">
        <span>
            <a href="/Shop/UPCertificates">
                <img src="/images/icon/icon-26.png" />
            </a>
        </span> 许可证上传
    </div>
    <div class="permit-upload">
        <div class="permit-upload-tip">
            提示：按要求上传证件照片，才能通过审核哦！
        </div>
        <div class="permit-upload-content">
            <img src="/images/permit-upload.png" />
            <div class="permit-upload-provisions">
                <div class="permit-upload-provisions-item">
                    <p>照片要求</p>
                    <ul>
                        <li>照片方向正确，不能颠倒；</li>
                        <li>照片上的字能清晰可见，边框完整，能看见国徽；</li>
                        <li>如果是复印件，必须加盖印章；</li>
                    </ul>
                </div>
                <div class="permit-upload-provisions-item">
                    <p>没有许可证，可用有效特许证件代替</p>
                    <ul>
                        <li>特许证件必须符合当地政策；</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="permit-upload-btn">
            <img src="/images/icon/camera.png" />
            <a href="/Shop/UPCertificates?type=3">立即上传</a>
        </div>
    </div>
</body>
</html>