@{
    ViewBag.Class = "Index";
    ViewBag.Title = "链商城";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="index-header">
    <!--搜索栏-->
    <div class="search-box">
        <a class="icon-loaction" href="/Home/City">@LJSheng.Common.LCookie.GetCity()</a>
        <i class="icon-search"></i>
        <div onclick="self.location = '/Home/Search';">
            <input class="text" placeholder="请输入你要搜索的关键字" />
        </div>
    </div>
</div>
<!-- banner -->
<div class="index-banner">
    <a href="@ViewBag.ADTopUrl"><img src="/uploadfiles/ad/@ViewBag.ADTopPicture" /></a>
</div>
<!-- 热门推荐 -->
<div class="index-hot">
    链商城
</div>
<ul class="index-groom">
    @(new HtmlString(ViewBag.Product))
</ul>