
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no" />
    <title>商家地图</title>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ctYMfgeMnH3VDdzetRa1fed2FpclBS2T"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <style type="text/css">
        #allmap {
            width: 100%;
            height: 666px;
        }
    </style>
</head>
<body>
    <div class="shop-inside">
        <div class="shop-order-detial">
            <div class="shop-order-header">
                <a onclick="history.go(-1);">
                    <img src="/images/icon/icon-26.png" />
                </a>
                <span>商家地图</span>
            </div>
        </div>
    </div>
    <div id="allmap"></div>
</body>
</html>
<script type="text/javascript">
    // 百度地图API功能
    var map = new BMap.Map("allmap");
    var point = new BMap.Point(116.331398, 39.897445);
    map.centerAndZoom(point, 12);
    // 创建地址解析器实例
    var myGeo = new BMap.Geocoder();
    // 将地址解析结果显示在地图上,并调整地图视野
    myGeo.getPoint(getQueryString("addr"), function (point) {
        if (point) {
            map.centerAndZoom(point, 18);
            map.addOverlay(new BMap.Marker(point));
            map.panBy(305, 165);
            var opts = {
                width: 200,     // 信息窗口宽度
                height: 50,     // 信息窗口高度
                title: getQueryString("name"), // 信息窗口标题
                enableMessage: true,//设置允许信息窗发送短息
                message: "来这吧.优惠多多.老板在等你哦~"
            }
            var infoWindow = new BMap.InfoWindow(getQueryString("addr"), opts);  // 创建信息窗口对象
            map.openInfoWindow(infoWindow, point);
        }
    }, "福州市");
    //获取URL参数
    function getQueryString(name) {
        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return decodeURI(r[2]); return null;
    }
</script>
