@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=yes">
    <title>彩链-商城首页</title>
    <meta name="keywords" content="彩链">
    <meta name="description" content="彩链">
    <meta name="author" content="彩链">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="css/owl.carousel.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link href="/plugins/mescroll/mescroll.css" rel="stylesheet" />
</head>
<body>
    <div class="default-header-nav">
        <span>
            <a onclick="window.history.go(-1);">
                <img src="/images/icon/icon-26.png" />
            </a>
        </span>
        商城
    </div>
    <div id="search" class="search">
        <div class="control hide">
            <label>商家类别</label>
            @foreach (var item in Model)
            {
                <input type="checkbox" name="fl" value="@item.Value" checked="checked" onclick="setfl();">@item.Key
            }
            <input id="Project" name="Project" type="text" class="hidden">
        </div>
        <div class="search-content">
            <input name="Name" type="text" class="input" placeholder="请输入你要搜索的商家名称">
            <img src="/images/icon/icon-37.png" />
        </div>
        <span class="search-btn" onclick="list();">搜索</span>
    </div>
    <div class="shop">
        <div class="shop-content">
            <div class="shop-type">
                <p>商品分类</p>
                <ul>
                    <li class="active" onclick="getlist('');">
                        <span>全部</span>
                    </li>
                    @foreach (var item in Model)
                    {
                        <li class="active" onclick="getlist('@item.Value');">
                            <span>@item.Key</span>
                        </li>
                    }
                </ul>
            </div>
            <div class="mescroll" id="scroll">
                <div class="shop-store" id="dataList">
                    <p class="shop-store-title">店铺</p>
                    <script id="tpl" type="text/html">
                        {{each list as item index}}
                        <a href="/Home/ShopDetail?Gid={{item.Gid}}" class="shop-store-item">
                            <div class="shop-store-item-msg">
                                <div class="shop-store-item-img">
                                    <img src="/uploadfiles/shop/{{item.Picture}}" alt="店铺">
                                </div>
                                <div class="shop-store-item-text">
                                    <p class="shop-store-item-name">{{item.Name}}</p>
                                    <p class="shop-store-item-product">{{item.Profile}}</p>
                                </div>
                            </div>
                            <span class="shop-store-item-arrow"><img src="/images/icon/icon-27.png" /></span>
                        </a>
                        {{/each}}
                    </script>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/jquery.js"></script>
    <script src="/js/template-web.js"></script>
    <script src="/plugins/mescroll/mescroll.js"></script>
    <script src="/js/mlist.js"></script>
    <script>
        function setfl() {
            document.getElementById("Project").value = "";
            var groupCheckbox = $("input[name='fl']");
            for (i = 0; i < groupCheckbox.length; i++) {
                if (!groupCheckbox[i].checked) {
                    var val = groupCheckbox[i].value;
                    document.getElementById("Project").value += val + ",";
                }
            }
        }
        function getlist(gid) {
            document.getElementById("Project").value = gid;
            //重置列表数据
            scroll.resetUpScroll();
            //隐藏回到顶部按钮
            scroll.hideTopBtn();
        }
        function list() {
            document.getElementById("Project").value = "";
            //重置列表数据
            scroll.resetUpScroll();
            //隐藏回到顶部按钮
            scroll.hideTopBtn();
        }
    </script>
</body>
</html>